:root {
    --bg-color: #8A2D3B;
    --btn-color: #BE5B50;
    --btn-hover-bg: #FBDB93;
    --btn-text: #FBDB93;
    --btn-hover-text: #641B2E;
    --btn-border: #641B2E;
}

#mainMenuHeader {
    font-family: 'Orbitron', sans-serif;
    color: #FBDB93;
    text-shadow: 3px 4px black;
    margin-top: 150px;
}
body {
    background-image: linear-gradient(to bottom, var(--bg-color), #973840, #a44446, #b14f4b, var(--btn-color));
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: auto;
    position: relative;
    top: 50px;
}
.buttons .btn {
    border: 3px solid var(--btn-border);
    border-radius: 12px;
    color: var(--btn-text);
    font-size: 18px;
    background-color: var(--btn-color);
    transition: all 0.4s ease;
    cursor: pointer;
    letter-spacing: 1px;
    width: 130px;
    height: 40px;
    text-shadow: 1px 1px black;
    position: relative;

}
#loginScreen .buttons{
    gap: 1px;
}

.btn:hover {
    color: var(--btn-hover-text);
    background-color: var(--btn-hover-bg);
    box-shadow: 0 8px 15px rgba(0,0,0,0.4);
    transform: translateY(-3px);
}

#mainMenu {
    position: relative;

}

.view {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(20px);
    pointer-events: none;

}
.view.active {
    position: absolute;
    display: block;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: none;
}
.loginPageH1 {
    margin-top: 150px;
    font-family: 'Orbitron', sans-serif;
    color: #FBDB93;
    text-shadow: 3px 4px black;
    text-align: center;

}

#unameInput{
    top: 20px;
    height: 30px;
    width: 125px;
    border-radius: 5px;
    font-size: 80%;
    background-color: var(--btn-text);
}
#loginForm{
    position: relative;
    bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.loginMsg .bull {
    height: 10px;
    width: 10px;
    background-color: #000000;
    color: whitesmoke;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    top: 110px;
}

