:root {
    --bg-color: #8A2D3B;
    --btn-color: #BE5B50;
    --btn-hover-bg: #FBDB93;
    --btn-text: #FBDB93;
    --btn-hover-text: #641B2E;
    --btn-border: #641B2E;
}

#mainMenuHeader {
    font-family: 'Orbitron', sans-serif;
    color: #FBDB93;
    text-shadow: 3px 4px black;
    margin-top: 40px;
}
body {
    background-image: linear-gradient(to bottom, var(--bg-color), #973840, #a44446, #b14f4b, var(--btn-color));
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 100px;
}
.buttons .btn {
    border: 3px solid var(--btn-border);
    border-radius: 12px;
    color: var(--btn-text);
    font-size: 18px;
    background-color: var(--btn-color);
    transition: all 0.4s ease;
    cursor: pointer;
    letter-spacing: 1px;
}

.btn:hover {
    color: var(--btn-hover-text);
    background-color: var(--btn-hover-bg);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
    transform: translateY(-3px);
}

#mainMenu {
    position: relative;

}