#map { height: 85%; }

html {
    overflow: hidden;
    height: 100%;
}

.container {
    display: flex;
    height: 10%;
    padding-top: 10px;
    padding-bottom: 0;
    flex-direction: row;
}

.container#scrollmenus {
    justify-content: center;
    height: 80%;
}
.container#store-title-bar {
    justify-content: center;
}

.scrollmenu-title {
    text-align: center;
    width: 40%;
}

#storecont {
    width: 20%;
}

#countercont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
}

.counter {
    vertical-align: middle;
    padding: 10px;
    background-color: yellow;
    margin-right: 10px;
    width: 15%;
    height: 100%;
}

.counter h2{
    margin: 0
}

.button {
    vertical-align: middle;
    padding: 10px;
    background-color: red;
    cursor: pointer;
}

#store-button {
    width: 40%;
    height: 100%;
}

#close-store-button {
    width: 20px;
    height: 20px;
    float: right;
}

.store {
    position: absolute;
    z-index: 10000000;
    background-color: blue;
    display: none;
    margin: -8;
    width: 100%;
    height: 100%;
}

div.scrollmenu {
    background-color: rgb(49, 141, 141);
    overflow: auto;
    white-space: nowrap;
    margin: 4px 3px;
    border: 2px solid black;
    border-radius: 8px;
    width: 40%;
    height: 90%;
}

.store-title {
    text-align: center;
}

#mutebtn {
    right: 0;
    position: absolute;
    z-index: 1000000000000;
}
