:root {
    --bg-color: #8A2D3B;
    --btn-color: #BE5B50;
    --btn-hover-bg: #FBDB93;
    --btn-text: #FBDB93;
    --btn-hover-text: #641B2E;
    --btn-border: #641B2E;
}

body {
    height: 98%;
}

#map {
    height: 85%;
    border: 3px solid var(--btn-border);
    border-radius: 12px;
}

html {
    overflow: hidden;
    height: 100%;
    background-image: linear-gradient(to bottom, var(--bg-color), #973840, #a44446, #b14f4b, var(--btn-color));
    font-family: 'Orbitron', sans-serif;
}

.container {
    display: flex;
    height: 10%;
    padding-top: 10px;
    padding-bottom: 0;
    flex-direction: row;
}

.container#scrollmenus {
    justify-content: center;
    height: 80%;
}
.container#store-title-bar {
    justify-content: center;
}

.scrollmenu-title {
    text-align: center;
    width: 40%;
}

#storecont {
    width: 20%;
}

#countercont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
}

.counter {
    vertical-align: middle;
    padding: 10px;
    color: var(--btn-hover-text);
    background-color: var(--btn-hover-bg);
    box-shadow: 0 8px 15px rgba(0,0,0,0.4);
    transform: translateY(-3px);
    margin-right: 10px;
    width: 15%;
    height: 100%;
    border: 3px solid var(--btn-border);
}

.counter h2{
    margin: 0
}

.button {
    padding: 10px;
    border: 3px solid var(--btn-border);
    border-radius: 12px;
    color: var(--btn-text);
    font-size: 18px;
    background-color: var(--btn-color);
    transition: all 0.4s ease;
    cursor: pointer;
    letter-spacing: 1px;
    width: 130px;
    height: 40px;
    text-shadow: 1px 1px black;
    text-align: center;
    user-select: none;
}

.button:hover {
    color: var(--btn-hover-text);
    background-color: var(--btn-hover-bg);
    box-shadow: 0 8px 15px rgba(0,0,0,0.4);
    transform: translateY(-3px);
}

#store-button {
    width: 40%;
    height: 100%;
    align-content: center;
}

#close-store-button {
    width: 20px;
    height: 20px;
    float: right;
}

#close-store-button:hover {
    box-shadow: none;
    transform: none;
}

.store {
    position: absolute;
    z-index: 10000000;
    background-image: linear-gradient(to bottom, var(--bg-color), #973840, #a44446, #b14f4b, var(--btn-color));
    display: none;
    margin: -8;
    width: 100%;
    height: 100%;
}

div.scrollmenu {
    background-color: rgb(49, 141, 141);
    overflow: auto;
    white-space: nowrap;
    margin: 4px 3px;
    border: 2px solid black;
    border-radius: 8px;
    width: 40%;
    height: 90%;
}

.store-title {
    text-align: center;
}

#mutebtn {
    position: relative;
    z-index: 100000;
    width: 10%;
    height: 100%;
    align-content: center;
}

#next-turn-button {
    position: relative;
    z-index: 100000;
    width: 10%;
    height: 100%;
    align-content: center;
}

h2 {
    margin: 0px;
}


.leaflet-control-attribution {
	display: inline !important;
    font-size: 7px;
}

.scrollmenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: aqua;
}

.scrollmenu ul li {
    width: 100%;
    height: 32px;
    background-color: aquamarine;
}

.scrollmenu ul li:hover {
    width: 100%;
    height: 32px;
    background-color: rgb(86, 166, 139);
}